.content-container {
  padding-bottom: 5%;
}
.project-title {
  padding: 0 0 3% 0;
  margin-left: 15%;
}
.project-title-category-name {
  color: #f3f3f3;
  font-weight: 100;
}
.project-title-name {
  color: #212121;
  margin: .1em 0 0 1.5em;
}

.project-images {
  width: 50%;
  margin: auto;
}
.project-images img {
  width: 100%;
}

.other-images {
  display: flex;
  justify-content: center;
}
.other-images img {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
}

.project-about-container {
  display: flex;
  padding: 10%;
  color: white;
  background-color: #212121;
}

.project-div {
  width: 50%;
}
.project-div p{
  width: 60%;
  font-size: 15px;
}

.project-about-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-about-title h1 {
  color: white;
}

.project-extra-container {
  position: relative;
}

.proj-text {
  display: flex;
  justify-content: end;
}
.proj-text h1 {
  margin: 5% 17% 0 0;
}
.project-extra-content {
  padding: 5% 15%;
  display: flow-root;
}

.project-extra-content p {
  align-self: center;
  margin-right: 20%;
  font-size: .938rem;
}
.project-extra-content img {
  float: right;
  margin-left: 3%;
}
