@font-face {
  font-family: Octarine;
  src: url("../../Fonts/OctarineFree/Octarine-Light.otf");
}

@font-face {
  font-family: OctarineBold;
  src: url("../../Fonts/OctarineFree/Octarine-Bold.otf");
}
* {
  font-family: Octarine;
  margin: 0;
}

.slider-container {
  margin: 8% 0;
  width: 60%; /* Adjust the width as needed */
}

.slider {
  width: 100%;
  height: 2px;
  background-color: black;
  position: relative;
}

.slider-ball {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.slider-ball-outline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vslider-container {
  height: 300px;
  position: absolute;
  bottom: 0;
}

.vslider {
  width: 2px;
  height: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.vslider-ball {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vslider-ball-outline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#slider-value {
  margin-top: 10px;
  text-align: center;
}

.MainContentContainer {
  height: 91.5vh;
  position: relative;
}
.mainArticle {
  padding-top: 10%;
  width: 70%;
  margin: 0 10% 0 10%;
}

.mainTitle {
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 10vw + 1rem, 5rem);
  font-weight: 200;
}
.mainDescription {
  max-width: 444px;
  padding-top: 3em ;
}
.mainTitleSpan {
  margin-left: 20%;
}

.education-container {
  position: relative;
  padding-bottom: 5vh;
  color: black;
}
.education-title {
  padding-top: 50px;
  text-align: center;
  font-family: OctarineBold;
}
.education-line {
  margin: 20px auto;
  height: 5px;
  background-color: lightgray;
  border-color: lightgray;
  width: 90%;
}
.education-content-container {
  text-align: center;
  margin: 0 25%;
  background-color: lightgray;
  margin-bottom: 100px;
}
.education-content {
  padding: 5%;
  box-sizing: border-box;
}

.education-school {
  margin: 0 0 20px 0;
}
.education-direction {
  margin: 0 0 20px 0;
}

.education-img {
  margin: 50px 0 0 0;
  width: 256px;
}

.education-description {
  width: 80%;
  margin: auto;
  text-align: justify;
}

.skills-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.skill {
  width: 35%;
  margin: 10px;
  display: flex;
  align-items: baseline;
}

.skill-header {
  margin-left: 1rem;
}

.skill-title {
  font-size: 2vw;
  margin-bottom: 15px;
}

.skill-img {
  width: 64px;
  height: 64px;
  margin-right: 5px;
}

.skill-description {
  font-size: 1.2vw;
  text-align: justify;
  width: 80%;
}

.softwares-container {
  padding-top: 100px;
  padding-bottom: 5%;
}
.softwares-content {
  text-align: center;
}
.softwares-content hr {
  margin: 0 20%;
  margin-top: 25px;
}
.softwares-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.softwares {
  padding: 15px;
  text-align: center;
  margin: 25px;
}
.softwares img {
  width: 64px;
}
.softwares h1 {
  margin-top: 15px;
  font-size: 3vh;
}

.main-footer {
  background-color: gray;
  text-align: center;
}

.main-footer h1 {
  padding-top: 100px;
  color: white;
  font-size: 5em;
  font-family: OctarineBold;
}
.main-footer-description {
  width: 20%;
  margin: 3em auto;
  padding: 25px;
  text-align: justify;
  color: white;
}
.main-footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px 0;
}
.main-footer li {
  margin: 25px 25px;
}
:root {
  --color1: 255, 183, 74;
}
.main-footer a:hover {
  animation-duration: 1s;
  background-color: rgb(var(--color1));
  color: rgb(15, 12, 29);
  cursor: pointer;
}

.main-footer a {
  text-decoration: none;
  color: white;
  padding: 15px;
  border: 1px solid white;
  color: white;
  transition: 0.8s;
}

.footer-line {
  margin: 20px auto;
  height: 5px;
  background-color: lightgray;
  border-color: lightgray;
  width: 90%;
}

.main-footer-close {
  width: 50%;
  margin: auto;
  padding: 25px;
  text-align: center;
  color: white;
}

.bold {
  font-family: OctarineBold;
  font-weight: bold;
}
.light {
  font-family: Octarine;
  font-weight: 300;
}
