@font-face {
  font-family: Octarine;
  src: url("../../Fonts/OctarineFree/Octarine-Light.otf");
}

div {
  /* font-family: Octarine; */
}

ul
{
  list-style-type: none;
  padding: 0 ;
}

.mainheader-ul {
  text-decoration: none;
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin-left: 35%;
}

li {
  padding: 5px;
  vertical-align: middle;
}

.MainHeader {
  display: flex;
  padding: 25px;
  box-sizing: border-box;
}
